* text=auto
logs filter=lfs diff=lfs merge=lfs -text
logs/pretrain/deit_base/optical-isar/transformer_best_model.pth filter=lfs diff=lfs merge=lfs -text
logs/uda/deit_base/optical-isar/transformer_best_model.pth filter=lfs diff=lfs merge=lfs -text
